<!DOCTYPE html>
<html>
<head>
  <title>Foundation Chess Engine</title>
  <link rel="stylesheet" href="/static/chessboard.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <h1>Play Chess</h1>
  <div id="board" style="width: 400px"></div>
  <button onclick="resetGame()">Reset Game</button>

  <script src="/static/chessboard.js"></script>
  <script>
    var board = Chessboard('board', {
      draggable: true,
      position: 'start',
      onDrop: function (source, target, piece, newPos, oldPos, orientation) {
        const move = source + target;
        fetch('/move', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ move: move })
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'illegal') {
            alert('Illegal move!');
            board.position(oldPos);
          } else {
            board.position(data.fen);
          }
        });
      }
    });

    function resetGame() {
      fetch('/reset', { method: 'POST' })
        .then(res => res.json())
        .then(data => board.position('start'));
    }
  </script>
</body>
</html>
